/* Don't get font-awesome ourselves; require that theme does so, as we
   require support in theme anyway in order to be useful... */
/* @import url("/lib/css/font-awesome.min.css"); */
/* @import url("//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css"); */

.mod-bootstrapelements-toggle {
    min-width: 200px;
}

.mod-bootstrapelements-toggle .panel-heading a span {
    width: 100%;
    display: inline-block;
}

.mod-bootstrapelements-toggle .panel-heading a {
    max-width: 100%;
    white-space: normal;
    display: inline;
}

.mod-bootstrapelements-toggle .panel-heading .accordion-toggle span:after {
    font-family: 'FontAwesome';
    content: "\f062";
    margin-left: -1em;
    color: grey;
    float: right;
}

.mod-bootstrapelements-toggle .panel-heading .accordion-toggle:hover {
    text-decoration: none;
}

.mod-bootstrapelements-toggle .panel-heading .accordion-toggle.collapsed span:after {
    content: "\f063";
}

/* ?? */
.bootstrapelements .fa {
    margin-right: 5px;
}